html,body{
    height: 100%;
    width: 100%;
}

body{
    background: radial-gradient(ellipse at center, #FFF4CF, #FFB200);
    font-family: 'Montserrat', sans-serif;
}

.no-navbar .navbar{
    display: none;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    border-color: #FFB200;
    border-width: 4px;
    border-radius: 15px;
}

.card-body{
    height: 400px;
    font-size: 12px;
    margin: 20px;
}

.register{
    background-color: #FFB200;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
}